h1{  font-family:'Dancing script';
  font-weight: bold;
}
body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
}
header h1 {
background:#5b7989;
padding-left: 3px 10px;
margin-bottom: 5px;
border-radius: 10px 10px 0px 0px;
-moz-border-radius:30px;
webkit-border-radius:30px;
text-align:left;
color:white;
text-shadow: 2px 2px  #02010a;

}

#banner nav {
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: 800px;
    background:hsl(0, 0%, 21%);
	}

	#banner nav ul {list-style: none; margin: 0 auto; width: 80%;}
	#banner nav li {float: right; display: inline-flex;; margin: 0;}

	#banner nav a:link, #banner nav a:visited {
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
    color: #fff;

	}
	#banner nav a:hover, #banner nav a:active{
    background: hsl(200, 60%, 50%, 0.65);
    text-shadow: none !important
  }
	#banner nav .active a:link, #banner nav .active a:visited {
		text-shadow: none !important;
    background: #3399cc;
    color: #fff;
	}
  #paisajes {
  	background-color: #F7D988;
  	box-shadow: 4px 8px;
  	text-shadow: 1px 1px 2px white, 0 0 30px #F7D988;
    border-radius: 10px;

  }
  .galeriaImagenes {
background-color: #d5c75f;
}

.galeriaImagenes div {
display: flex;
align-items: center;
justify-content: space-around;
padding: 0;
}

.galeriaImagenes div div {
margin: 20px;
}

.galeriaImagenes div div img {
width: 100%;
}

#img1{
  -webkit-filter:blur(10px);
}
#img2{
  -webkit-filter:grayscale(100%);
}
#img4{
  -webkit-filter:grayscale(100%);
}
#img6{
  -webkit-filter:grayscale(100%);
}
#img3{
  -webkit-filter:sepia(90%);
}
footer {
  background-color:#C6d5c5;
  box-shadow: 4px 8px black;
  border-radius: 0px 0px 10px 10px;
}
.contenedor {
display: flex;
flex-direction: row;
}
.contenedor > div {
text-align: center;
padding: 10px;
border: solid 5px #C6d5c5;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #ABEBC6;
width: 25%;
}


.contenedor_footer{
display: flex;
flex-direction: row;
}
#img7{
	height: 50px;
	width: 50px;
}


#img8{
	height: 50px;
	width: 50px;
}
#img9{
	height: 60px;
	width: 60px;
}
@@media screen and (min-width:900px) {
	body{width: 80%}
}
@media screen and (max-width: 899px) {

.galeriaImagenes div div {
width: 94%;
}
.galeriaImagenes div {
display: flex;
flex-direction: column;
}
.contenedor div{width: 94%;}
.contenedor {display:flex;
flex-direction: column;}
#banner nav ul {list-style: none; margin: 0 auto; width: 80%;}
#banner nav li {float: left; display: inline-flex;; margin: 0;}
}
